*{  
    padding: 0%;
    margin: 0%;
    border: 0%;
    box-sizing: 0%;
    color: white;

    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 1.5px;
}

body{
    background-color: #131313;;
}